@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
/*
font-family: 'Architects Daughter', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

/*
font-family: 'Salsa', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

/*
font-family: 'Megrim', cursive;
*/

*{
    margin:0; padding:0;
    font-family: 'Architects Daughter', cursive;
    font-weight:200;
    font-size: 20px;
}


body{
    background-color: rgb(245, 245, 245);
}

.logo{
    grid-area:logo;
    padding: 1rem;
    align-self:start;
}
.navigation{
    grid-area: mymenu;
    justify-self:end;
    align-self:start;
    padding: 1rem;
}
.landing_image{
    grid-area:image;
}
.cta{
    grid-area:header;
    justify-self:start;
    align-self:center;
}
.grid-container{
    display:grid;
    justify-content: space-between;
    align-items:flex-start;
    grid-template-areas:
        'logo mymenu mymenu mymenu image'
        'header header header header image';
    background-color: rgba(237, 235, 242, 0.871);
}

/*logo styling*/
.logo img {
    border-radius:50%;
}

/*menu styling*/
.main-menu{
    list-style:none;
}

.main-menu li {
    display:inline-block;
    margin: 1rem;
}

.main-menu li a {
    text-decoration:none;
    color:black;
    font-family: 'Salsa', cursive;
    text-transform: uppercase;
    padding: 5px;
}
.main-menu li a:hover{
    color: rgb(221, 221, 219);
    background-color:black;
    transition: 0.278s ease-in-out;
}


/*image-styling*/
.landing_image img{
    object-fit:cover;
    max-width:100%;
    height:100vh;
}

/*hero message*/
.cta > * {
    margin-left: 1rem;
    font-weight: 800;
    font-family: 'Megrim', cursive;
    line-height: 1.9;
}

.cta #cta-title {
    font-size: 3rem;
    position: relative;
    top:-100px;
    transition: top 0.7s ease-in;
}


.cta #cta-subtitle {
    font-size: 1.5rem;
    position:relative;
    left:100px;
    transition: left 0.7s ease-in;
}